footer{
    width: 100%;
    padding: 1rem 3rem;
    position: absolute;
    bottom:0;
    .credits{
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 2px;
    }
    // .credits-modal{
        
    // }
    #credits {
       
      }
    


      
      .credits-modal {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40vh;
        width: 100%;
        color:#000;
        background-color: #fff;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        display: none;
        flex-direction: column;
        
       padding:3rem;
        gap: 40px;
        transform:translateY(290px);
        touch-action: none;
        z-index: 5;
        &__box{
            
            
        }

        .credits-marquee {
            cursor: pointer;
            border-top: 1px solid #bdbcbc;
            border-bottom: 1px solid #bdbcbc;
            animation: swipe 80s infinite normal linear;
            display:flex;
            @media only screen and (max-width: 37.5em) { // phone
                position: absolute !important;
                height: 15.74vh !important;
                transform: rotate(270deg);
                transform-origin: 71vh 427%;
                margin: 4vh 0;
                top:15%;
                z-index: -1;
                opacity: 0.5;
            }
        }
        
        .credits-marqueeText {
            color: #bdbcbc;
            font-family: $credits-marquee;
            transition: all 100ms linear;
        
            @media only screen and (max-width: 37.5em) { // phone
                padding: 0 3.9vh;
            }
            @media only screen and (max-width: 37.5em) { // phone
                font-size: 7.25rem;
                line-height: 98.49%;
                padding: 4.25rem 3.46875rem;
            }
        }
        

      
      }
    
      
      .credits-modal.show {
        display:flex;
        transform:translateY(0);
      }
}


// animation
@keyframes swipe {
    from {
        transform: translateX(2%);
    }
    to {
        transform: translateX(-110%);
    }
}
.one {
    width: 100%;
display: flex;
justify-content: space-between;
padding: 0 3rem 0 2rem;
height: 5vh;
}